@import '@/style_provider'

.apiError
    color: red
    text-align: center

.textField, .passwordField, .numberField, .selectField, .textAreaField
    position: relative

    width: 100%
    height: min-content

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap:2px

    label
        width: inherit

        color: palete('general-text')
        span
            color: palete('primary')

    input,select,textarea

        all: unset

        width: inherit
        height: 2em
        box-sizing: border-box

        padding: 0 0.5em

        background: palete(contrast-light)
        
        border-bottom: palete(contrast-light) 2px solid
        border-radius: 5px 5px 3px 3px

        color: palete(general-text) !important

        transition: border-color 0.5s ease-in-out
        
        &:autofill
            color: palete(general-text) !important
            background-color: palete(uncontrast) !important

        &:focus
            border-color: palete(primary)

    select
        appearance: auto

    textarea
        max-width: 400px
        min-height: 300px

        padding: 1em

        word-wrap: break-word
    
.error_form 
    .textField
        color: red

.textField_error, .error_form .textField
    label
        span
            color: red
    
    input,select
        border-color: red !important
    
    .message
        color: red

.numberField
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button 
        -webkit-appearance: none
        margin: 0
    
    input[type=number] 
        -moz-appearance: textfield
    

.passwordField
    input 
        &::-ms-reveal
            display: none
    &:hover
        .image_button
            opacity: 50%

            &:hover
                opacity: 100%

        .image_button:active + .visiblePassword_text
            opacity: 100%

        .image_button + .visiblePassword_text
            opacity: 0
    

        

    .visiblePassword_text
        position: absolute
        top: 1.6em

        width: 100%

        background: white
        opacity: 0

        //@include fadeIn()
        transition: opacity 1s ease-in-out


    .image_button 
        position: absolute
        right: 0
        top:-0.3em
        z-index: 1

        margin: 0.5em

        width: 1.5em
        height: 1.5em

        opacity: 0

        transition: opacity 1s ease-in-out

    label + .image_button
        top: 1.1em



//Selection input
.selectField
    select
        padding-top: 0.3em

        option 
            height: max-content

            span
                font-size: 2px
                color: palete(contrast-light)

//File Input
.fileInput
    position: relative

    width: 90%
    height: 90%

    border: palete(contrast) 2px dashed
    border-radius: inherit

    label
        position: relative

        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        gap: 1em

        width: 100%
        height: 100%

        .upload_frame
            width: 5em
            height: 5em

        button
            @include button(secondary)

        p
            width: 15em

            text-align: center
            color: palete(uncontrast)

    input
        display: none

.fileSelected_div
    position: relative

    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 1em

    width: 100%
    height: 100%

    border-style: solid


    .upload_frame
        width: 5em
        height: 5em

    button
        @include button(secondary)

//Image Input

.imageInput
    position: relative

    height: 14em
    width: 14em
    

    &>img
        width: 100%
        height: 100%


        border: 5px palete(primary) solid
        border-radius: 100%
        
        object-fit: cover
    
    input 
        position: absolute

        display: none
        
        width: 3em
        height: 3em


    label
        position: absolute
        bottom: 0
        right: 0

        margin: 1em

        padding: 0.5em

        background-color: palete(primary-light)

        border-radius: 100%

        color: palete(primary)

        .uploadIcon
            width: 2em
            height: 2em



//Submit button
.submit
    position: relative

    @include button('main')

    &:disabled
        background: palete('uncontrast')

        &:active
            transform: none
        &:hover
            transform: none

.submit_charging
    width: 1.5em
    height: 1.5em

    margin-top:0.2em

    animation-name: charging_submit
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: none
    

@keyframes charging_submit
    0%
        transform: rotate(0deg) 
    100%
        transform: rotate(360deg)
        


.APIerror_message
    color: red
    @include fadeIn(1)

.APIerror
    position: fixed
    z-index: 5
    top:0
    left:0

    display: flex
    justify-content: center
    align-items: center

    width: 100vw
    height: 100vh

    background-color: #0000005b

    @include fadeIn

    .APIerror_div
        position: relative
        
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        gap:1em

        $breakPoints:(1210px:40vh)
        @include specificBreakPointsAtribute(width,$breakPoints)
        
        min-height: 10em
        height: min-content

        overflow: hidden

        padding-bottom:0.5em

        background: palete(contrast)

        border-radius: 1em

        border-bottom: red 2px solid

        text-align: center
        font-size: 1em

        span
            position: absolute
            top:0
            left:0

            width: 100%
            height: auto

            padding-top: 0.8rem
            padding-bottom: 0.8rem

            background: palete(primary)

            color: palete(over-primary)
            font-weight: 600
            font-size: 1.2em

        button
            //background: transparent
            
            // color: palete(over-primary)
            // font-weight: 600
            // font-size: 1.2em

            @include button(main)
        p
            width: 100%
            height: max-content
            
            padding: 0 2em

            color: palete('general-text')



