@import '@/style_provider'

.apiError
    color: red
    text-align: center

.textField, .passwordField
    position: relative

    width: 100%
    height: min-content

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap:2px

    label
        width: inherit

        color: palete('general-text')
        span
            color: palete('primary')

    input

        all: unset

        width: inherit
        height: 2em
        box-sizing: border-box

        padding: 0 0.5em

        background: palete(contrast-light)
        
        border-bottom: palete(contrast-light) 2px solid
        border-radius: 5px

        color: palete(general-text) !important

        transition: border-color 0.5s ease-in-out
        
        &:autofill
            color: palete(general-text) !important
            background-color: palete(uncontrast) !important

        &:focus
            border-color: palete(primary)
            border-radius: 5px 5px 2px 2px
    
.error_form 
    .textField
        color: red

.textField_error, .error_form .textField
    label
        span
            color: red
    
    input
        border-color: red !important
    
    .message
        color: red



.passwordField
    input 
        &::-ms-reveal
            display: none
    &:hover
        .image_button
            opacity: 50%

            &:hover
                opacity: 100%

        .image_button:active + .visiblePassword_text
            opacity: 100%

        .image_button + .visiblePassword_text
            opacity: 0
    

        

    .visiblePassword_text
        position: absolute
        top: 1.6em

        width: 100%

        background: white
        opacity: 0

        //@include fadeIn()
        transition: opacity 1s ease-in-out

    .image_button
        position: absolute
        right: 0
        top: 1.1em
        z-index: 1

        margin: 0.5em

        width: 1.5em
        height: 1.5em

        opacity: 0

        transition: opacity 1s ease-in-out

.submit
    position: relative

    @include button('main')

.submit_charging
    width: 1.5em
    height: 1.5em

    margin-top:0.2em

    animation-name: charging_submit
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: none
    

@keyframes charging_submit
    0%
        transform: rotate(0deg) 
    100%
        transform: rotate(360deg)
        


.APIerror_message
    color: red

.APIerror
    position: fixed
    z-index: 5
    top:0
    left:0

    display: flex
    justify-content: center
    align-items: center

    width: 100vw
    height: 100vh

    background-color: #0000005b

    @include fadeIn

    .APIerror_div
        position: relative
        
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        gap:1em

        $breakPoints:(1210px:40vh)
        @include specificBreakPointsAtribute(width,$breakPoints)
        
        min-height: 10em
        height: min-content

        overflow: hidden

        padding-bottom:0.5em

        background: palete(contrast)

        border-radius: 1em

        border-bottom: red 2px solid

        text-align: center
        font-size: 1em

        span
            position: absolute
            top:0
            left:0

            width: 100%
            height: auto

            padding-top: 0.8rem
            padding-bottom: 0.8rem

            background: palete(primary)

            color: palete(over-primary)
            font-weight: 600
            font-size: 1.2em

        button
            //background: transparent
            
            // color: palete(over-primary)
            // font-weight: 600
            // font-size: 1.2em

            @include button(main)
        p
            width: 100%
            height: max-content
            
            padding: 0 2em

            color: palete('general-text')



