@import '@/style_provider'

@media (prefers-color-scheme: light) 
    :root
        --contrast:#FEFEFE
        --primary:#0597f2
        --primary-dark:#0583f2
        --primary-light:#05aff2
        --secondary:#f2bc1b
        --general-text: #2F2F2F
        --uncontrast: #3d3d3d
        --contrast-light:#c0c0c0
        --right-notification: #4ea100de 
        --error-notification: #fd2828cc
        --info-notification: #1657e4c2
        --over-primary: #FFFFFF
    

@media (prefers-color-scheme: dark) 
    :root
        --contrast:#303030
        --primary:#0597f2
        --primary-dark:#005baa
        --primary-light:#05aff2
        --secondary:#c29100
        --general-text: #d8d8d8
        --uncontrast: #838383
        --contrast-light:#3b3b3b
        --right-notification: #68d800c5 
        --error-notification: #fd2828b6
        --info-notification: #1657e4b4
        --over-primary: #FFFFFF
        
*
    box-sizing: border-box

    padding: 0

    margin: 0

    border: none

    font-family: inherit
    font-size: inherit

    &:-webkit-autofill
        all: unset
    
:root
    $font-sizes: 10px,13px,14px,12px,14px,16px,20px,24px,42px
    @include breakPointAtribute(font-size,$font-sizes)

h1
    font-size: 2em

h2
    font-size: 1.8em

h3
    font-size: 1.5em

h4
    font-size: 1.3em

body
    width: 100vw
    height: 100vh
    

    background-color: palete(primary)