@import '@/style_provider'

:root
    --secondary:#ca9d15
    --error: #ff3030
    --water: #3ebee6
    --energy: #d3a306
    --waste: #6eaf24
    --education: #d68111


@media (prefers-color-scheme: light) 
    :root
        --contrast: #f2f2f2ff
        --primary:#0597f2
        --primary-dark:#0275da
        --primary-light:#05aff2
        --general-text: #2F2F2F
        --uncontrast: #5c5c5c
        --contrast-light:#c0c0c0
        --right-notification: #4ea100de 
        --error-notification: #fd2828cc
        --info-notification: #1657e4c2
        --over-primary: #f2f2f2ff
        --row-selected:  #74cfeb    
    

@media (prefers-color-scheme: dark) 
    :root
        --contrast:#303030
        --primary:#118fd8
        --primary-dark:#0170d1
        --primary-light:#14aedd
        --general-text: #d8d8d8
        --uncontrast: #a1a1a1
        --contrast-light:#494949
        --right-notification: #68d800c5 
        --error-notification: #fd2828b6
        --info-notification: #1657e4b4
        --over-primary: #FFFFFF
        --row-selected:  #4992a8c7   
*
    box-sizing: border-box

    padding: 0

    margin: 0

    border: none

    font-family: inherit
    font-size: inherit

    overflow: hidden

    &:-webkit-autofill
        all: unset
    
    &::-webkit-scrollbar 
        position: absolute
        left: 50px

        width: 3px
        height: 0

        background: #000
        border-radius: 100%
    

    /* Track */
    &::-webkit-scrollbar-track 
        box-shadow: inset 0 0 5px grey
        border-radius: 10px
    

    /* Handle */
    &::-webkit-scrollbar-thumb 
        background: transparent
        border-radius: 10px
    
    
:root
    $font-sizes: 10px,13px,14px,12px,14px,16px,20px,24px,42px
    @include breakPointAtribute(font-size,$font-sizes)

h1
    font-size: 2em

h2
    font-size: 1.8em

h3
    font-size: 1.5em

h4
    font-size: 1.3em

body
    width: 100vw
    height: 100vh

    overflow: scroll
    
    background-color: transparent

a
    position: relative
    top:5px
    display: inline-block

    width: max-content

    color: palete('primary')
    text-align: center
    text-decoration: none

    border-color: palete('primary-light')
    
    @include fadeIn(1)

    @include coolUnderline()