@import '@/style_provider'

@media (prefers-color-scheme: dark) 
    :root
        --contrast:white
        --primary:#0597f2
        --primary-dark:#0583f2
        --primary-light:#05aff2
        --secondary:#f2bc1b
        --general-text: #2F2F2F
    

@media (prefers-color-scheme: light) 
    :root
        --contrast:#303030
        --primary:#007ac5
        --primary-dark:#0066c0
        --primary-light:#05aff2
        --secondary:#c29100
        --text: #d8d8d8
        
*
    padding: 0

    margin: 0

    border: none

    font-family: inherit
    font-size: inherit
    
:root
    $font-sizes: 10px,13px,14px,12px,14px,16px,20px,24px,42px
    @include breakPointAtribute(font-size,$font-sizes)

h1
    font-size: 2rem

h2
    font-size: 1.8rem

h3
    font-size: 1.5rem

h4
    font-size: 1.3rem

body
    width: 100vw
    height: 100vh
    

    background-color: palete(primary)