@import '@/style_provider'

.front_div
    position: relative
    z-index: 1

    width: 100vw
    height: 100vh

    display: flex
    justify-content: flex-end
    align-items: center
    gap:5rem

    padding-right: 4em

    .welcomeTitle_div
        position: relative

        width: 40vw
        height: 100%

        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start

        font-size: 1.7rem
        @include setAllTextColor(palete('contrast'))


        .ElaLogotipo_img
            width: 4em
            height: 2em 
    
    .logInForm_div
        position: relative

        width: 25vw
        height: 100%

        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        background: palete('contrast')
        box-shadow: palete('uncontrast') 0 0 20px 0px

        color: palete('primary')

        .ElaLogoForm_img
            width: 3em
            height: 3em

            margin-bottom: 2em
        
        .logIn_form
            position: relative

            width: 80%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 1em

            margin-top: 2em

            .logIn_submit
                width: 70%

            .guest_link
                @include button('secondary')
                width: 70%

.vertical_relation
    .front_div
        display: block

        background: red

        .welcomeTitle_div, .logInForm_div
            height: 100vh
            width: 100vh
