@import '@/style_provider'

.lastInfoCard_section
    position: relative

    width: 22em
    height: 12em

    padding: 1em 2em

    border-radius: 1em

    color: #e0e0e0

    h5
        position: absolute


    .data_div
        position: absolute
        left: 0
        bottom: 0

        height: min-content

        margin: 0rem 1rem

        font-size: 5.5em

    .unit_span
        position: relative
        display: inline-block
        
        width: min-content

        font-size: 1rem
        font-weight: 600

        