@import '@/style_provider'

.tableMessage_div
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    flex-wrap: nowrap

    background: palete('contrast-light')

    border-radius: 1em

    color: palete('uncontrast')
    text-align: center

.serverError_img
    width: 5em
    height: 4em

.newItem_link
    @include button(highlight)

    position: absolute
    right: 1em
    bottom: 1em
    top: unset

    padding: 0.5em 1em 0.5em 1em

    height: min-content
    width: min-content

    border-width: 4px
    border-radius: 4em

    font-weight: 700
    font-size: 1.1em



.table_div
    position: relative

    display: flex
    flex-direction: column
    grid-column: inherit
    gap: 1px

    overflow: hidden

    border: palete(primary) 1px solid
    border-radius: 1em

    padding: 2px

    background: palete(contrast-light)

.records_div
    display: flex
    flex-direction: column
    gap: 1px

    grid-template-columns: inherit
    grid-column: inherit

    overflow-y: scroll
    overflow-x: hidden

    width: 100%
    
    &::-webkit-scrollbar 
        position: absolute
        left: 50px

        width: 4px

        background: palete(contrast-light)
        border-radius: 100%
    

    /* Track */
    &::-webkit-scrollbar-track 
        box-shadow: inset 0 0 5px grey
        border-radius: 10px
    

    /* Handle */
    &::-webkit-scrollbar-thumb 
        background: palete(uncontrast)
        border-radius: 10px


.general_row, .header_row
    position: relative

    display: grid
    grid-template-columns: inherit
    grid-column: inherit
    grid-row: 1
    gap: 1px

    width: 100%
    height: 2em  

    white-space: nowrap


    &:last-child
        border-bottom-left-radius: 1em
        border-bottom-right-radius: 1em

    *
        height: 2em  

        overflow: hidden

        padding-top: 0.3em

        text-align: center
        text-overflow: ellipsis
        color: palete(general-text)

.general_row
    *
        padding: 0 1em
        padding-top: 0.3em
        background: palete(contrast)

.header_row
    height: 2em

    overflow: hidden

    border-radius: 1em 1em 0 0

    color: white

    *


        background: palete(primary)

.selected_row
    *
        background: palete(row-selected)
    